<!DOCTYPE html>
<html>
{% load static %}
{% load custom_filters %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes, maximum-scale=5">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>
        {% block title %}
            HomePage
        {% endblock %}
    </title>

    <!-- jQuery and Dependencies from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    {% block extra_dependencies %}
    {% endblock %}

    <!-- CSS Dependencies from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    
    <!-- Custom CSS - Load Last -->
    <link rel="stylesheet" href="{% static 'workshop_app/css/base.css' %}?v=20250910153200" type="text/css"/>

    {% block extra_custom_scripts %}
    {% endblock %}

</head>

<body>
{% block header %}
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
        {% if user.is_authenticated %}
        <a class="navbar-brand text-white" href="{% url 'workshop_app:index' %}">FOSSEE Workshops</a>
        {% else %}
        <a class="navbar-brand text-white" href="{{request.scheme}}://{{request.get_host}}">FOSSEE Workshops</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'statistics_app:public' %}">
                        Workshop Statistics
                    </a>
                </li>
                <li>
                     <img src="{% static 'workshop_app/img/fossee-logo.svg' %}" alt="FOSSEE Logo" class="fossee-logo">
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                {% if request.user|has_group:"instructor" %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'statistics_app:team' %}">
                        Team Statistics
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'workshop_app:workshop_status_instructor' %}">
                        Workshop Status
                    </a>
                </li>
                {% if not request.user|has_group:"instructor" %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'workshop_app:propose_workshop' %}">
                            Propose Workshop
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'workshop_app:workshop_type_list' %}">
                        Workshop Types
                    </a>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="material-icons" style="vertical-align: middle">account_circle</span>
                            <p style="display: inline; vertical-align: middle">
                                {{user.get_full_name|title}}
                            </p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'workshop_app:view_own_profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">
                                 Change Password
                            </a>
                            <a class="dropdown-item" href="{% url 'workshop_app:logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

<div class="base-content">
    {% block content %}
        <h1>Base Template Content. Please override me</h1>
    {% endblock %}
</div>

<script>
    {% if messages %}
        {% for message in messages %}
            toastr[{% if message.tags %} "{{ message.tags }}" {% else %} "info" {% endif %}]("{{ message }}");
        {% endfor %}
    {% endif %}
</script>

</body>
<footer class="footer">
    {% block footer %}
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>About FOSSEE</h4>
                <p>FOSSEE (Free and Open Source Software for Education) is an initiative by IIT Bombay to promote the use of free and open source software in education.</p>
                <p>Our mission is to provide high-quality educational content and tools for engineering and science education.</p>
            </div>

            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'statistics_app:public' %}">Workshop Statistics</a></li>
                    <li><a href="{% url 'workshop_app:workshop_type_list' %}">Workshop Types</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'workshop_app:view_own_profile' %}">My Profile</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-section">
                <h4>Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> IIT Bombay, Powai, Mumbai - 400076</p>
                <p><i class="fas fa-envelope"></i> fossee@iitb.ac.in</p>
                <p><i class="fas fa-phone"></i> +91-22-2576-XXXX</p>
            </div>

            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="footer-social">
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
                    <a href="#" title="GitHub"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 FOSSEE, IIT Bombay. All rights reserved. | Developed by FOSSEE Team</p>
        </div>
    </div>
    {% endblock %}
</footer>
</html>
